body {
  color: white;
  padding: 50px;
  background-image: url("/public/img/background.png");
}

.title{
  background-color: black;
  padding: 20px;
  border-radius: 10px;
}

.earth{
  height: 600px;
}

.crosta{
  position: relative;
  width: 25%;
  height: 28px;
  background-color: rgb(75, 203, 253);
  margin: 0 30px;
}

.manto{
  position: relative;
  width: 25%;
  height: 28px;
  background-color: rgb(255, 49, 49);
  margin: 0 90px;
}

.nucleo{
  position: relative;
  width: 25%;
  height: 28px;
  background-color: rgb(255, 251, 39);
  margin: 0 30px; 
}